* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin:0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(151,151,151,0.03);
}

/* Navbar */
nav {
    display: flex;
    background-color:  #F9F9F9;
    height: 70px;
    align-items: center;
    color: rgb(87, 86, 86);
}

nav ul{
    display: flex;
    list-style: none;
    margin-left: 20px;
    width: 40%;
    margin-top: 15px;
}

nav ul li a:hover{
    color:rgb(155, 155, 155);
    text-decoration: none;

}

nav ul li a {
    text-decoration: none;
    font-size: 1em;
    padding: 15px 20px;
    color: rgb(27, 27, 27);
}

input[type="search" i] {
    appearance: searchfield;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 15px;
}
.icon a{
    color: rgb(87, 86, 86);
    font-size: 0.8em;
}

.btn {
    height: 38px;
    border-radius: 20px;
    font-size: 15px;

}
.nav2 {
    margin-top: 70px;
    background-color: #F2F2F2;

}
.nav-link {
    color: black;
}
a.signup {
    margin-right: 320px;
    
}
.bawah a {
    color:  rgb(87, 86, 86);
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

/* body */
.home {
    color-adjust: rgb(126, 56, 56);
}
