.carousel-item {
    height: 670px;
}
.carousel-item img {
    margin-top: -120px;
}
.carousel-item .display-4 {
    margin-top: -440px;
}
.carousel-item hr {
    border-color: #D29999;
    width: 70px;
    border-width: 3px;
}
.carousel-item .btn{
    background-color: #D29999;
    border: none;
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top:40px;
}